.main {
    padding: 30px;
    margin: 40px;
    font-family: Verdana, Tahoma, sans-serif;
    background: #a124ca;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 280px;
    text-align: center;
}