.product-info-container {
    position: fixed;
    background: #faf1ee;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding: 30px 40px;
    color: #3a2821;
    box-shadow:
            0 10px 30px rgba(74, 45, 45, 0.2),
            0 0 0 1px rgba(34, 198, 168, 0.3);
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.4s ease;
    position: relative;
    z-index: 10;
}

/* Когда показываем (убираем .hidden) */
.product-info-container.show {
    transform: translateY(0);
    opacity: 1;
}

.product-info-container.hidden {
    display: none;
}

.product-info-container__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #3a2821;
    line-height: 1.3;
}

.product-info-container__description {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 1.5rem;
    white-space: pre-line;
}

.product-info-container__price {
    font-size: 2rem;
    font-weight: 900;
    color: #8e1325;
    margin-top: 1rem;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.product-info-container.show {
    animation: fadeInUp 0.4s ease forwards;
}

@keyframes fadeInUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
